name: CI

on:
  push:
    branches:
      - main
      - develop
  pull_request:
    branches:
      - "**"

env:
  NODE_VERSION: 18
  PNPM_VERSION: 8

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install dependences
        uses: ./.github/actions/pnpm-install
        with:
          node-version: ${{ env.NODE_VERSION }}
          pnpm-version: ${{ env.PNPM_VERSION }}

      - name: Lint
        shell: bash
        run: pnpm lint
        env:
          NEXT_TELEMETRY_DISABLED: 1

  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install dependences
        uses: ./.github/actions/pnpm-install
        with:
          node-version: ${{ env.NODE_VERSION }}
          pnpm-version: ${{ env.PNPM_VERSION }}

      - name: Setup Next.js build caching
        uses: actions/cache@v3
        with:
          path: |
            ${{ github.workspace }}/.next/cache
          # Generate a new cache whenever packages or source files change.
          key: ${{ runner.os }}-nextjs-${{ hashFiles('**/pnpm-lock.yaml') }}-${{ hashFiles('**/*.js', '**/*.jsx', '**/*.ts', '**/*.tsx') }}
          # If source files changed but packages didn't, rebuild from a prior cache.
          restore-keys: |
            ${{ runner.os }}-nextjs-${{ hashFiles('**/pnpm-lock.yaml') }}-

      - name: Build
        shell: bash      
        run: pnpm build
        env:
          NEXT_TELEMETRY_DISABLED: 1
          BASE_PATH: "try-pnpm-nextjs-static-github-actions"
